@font-face {
    font-family: "proxima";
    src: url("../fonts/proximanovaregular.eot");
    src: url("../fonts/proximanovaregular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/proximanovaregular.woff") format("woff"),
    url("../fonts/proximanovaregular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "proxima";
    src: url("../fonts/proximanovabold.eot");
    src: url("../fonts/proximanovabold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/proximanovabold.woff") format("woff"),
    url("../fonts/proximanovabold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}