* {
  box-sizing: content-box;
}
.foot_form input[type='submit'] {
  box-sizing: border-box;
}
/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, /* strong, */ sub, sup, /* b, */ u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, /* table, tbody, tfoot, thead, tr, th, td, */ article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-size: 100%;
}
a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

header, footer, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
/* --------------- reset.css --------------- */
body {
	line-height: 1;
	background: #fff;
	color: #000;
	text-align: left;
	font: 400 100% 'Roboto', sans-serif;
}
a, a:visited {
	color: #000033;
	text-decoration: underline;
}
a:hover {
	color: #000033;
	text-decoration: none;
}
a:focus, a:active {
	color: #000033;
	text-decoration: underline;
}



