b.tovar_b {
    color: #000000;
}

article.news_single {
    margin-top: 25px;
}

#show-map {
    display: none;
}

.level-1 {
    padding-left: 20px;
}

.choose_form_tab input[type="radio"]{
    display:none;
}
.choose_form_tab input[type="radio"] + label{
    font: 18px bold;
    display: block;
    height: 48px;
    font:300 17px/48px 'Roboto',sans-serif;
    color: #fff;
    overflow: hidden;
    text-align: center;
    padding: 0 30px;
    border-radius: 25px;
    background: #fff;
    color: #333;
    border: 1px solid #d8d8d8;
    color: #444;
    cursor: pointer;
    transition: all 0.3s;
}
.choose_form_tab input[type="radio"]:checked + label,.choose_form_tab input[type="radio"] + label:hover{
    color: #fff;
    background: #1798f7;
    border-color: #1798f7;
}

ul.choose_form_tab.last {
    margin-top: -40px;
}


.choose_form_tab .catalog_item .catalog_item_pic {
    background-color: #FFFFFF;
}

.choose_form_tab .catalog_item .catalog_item_inf .choose_form_tab .catalog_item_inf ul li::after {
    display: block;
    height: 3px;
    left: 13px;
    position: absolute;
    top: 10px;
    width: 3px;
}

.choose_form_tab .catalog_item_inf li {
    display: block;
    margin-left: 2px;
}

.choose_form_tab .catalog_item .catalog_item_inf {

}

.foot .foot_copy a {
    color: #72a3ed;
}

.form-control {
    padding: unset;
}

a.reset-filter.distrib {
    color: #e26060;
}

.filterwrap .filter_item option.disabled {
    background-color: lightgrey;
}

ul.level2.materials {
    margin-left: 254px;
}

.general_loader {
    display: none;
    left: 50%;
    margin-left: -12px;
    margin-top: -45px;
    position: absolute;
}

.news_single table {
    border: 1px solid lightgray;
}

.news_single table td {
    padding: 3px 10px;
    border: 1px solid lightgray
}

.news_single img {
    display: block;
    max-width: 800px;
    width: 100%;
}

.page {
height:100%;
width:100%;
margin:0 auto;
overflow: hidden;
position:relative;
}

body > .page {
height: auto;
min-height: 100%;
}

.container {
padding-bottom:230px; /*висота футера*/
position:relative;
}

.foot{
    min-height:230px; /*высота футера*/
	height: auto;
    clear: both;
    z-index: 10;
    width:100%;
    margin:-230px auto 0; /*высота футера*/
}

.filterwrap.fix{
     position: fixed;
     top:10px;
}

.dealerslist_item_td.half {
     min-width:250px;
}

#toTop {
    background: rgba(0, 0, 0, 0) url("../image/site/to-top.png") no-repeat scroll 50% 50%;
    bottom: 10px;
    cursor: pointer;
    display: none;
    height: 125px;
    left: 84%;
    /*margin-left: 600px;*/
    position: fixed;
    width: 58px;
    z-index: 11;
}

b,strong {
    font-weight: 500;
}

.catalogs > .service_item:first-child {
    border: none;
}

.catalogs .service_item {
    background: none;
}

.page_ttl.mod.darken {
    background-color: #f1f1f1;
}

.service_item p a, .service_item p a:visited {
    color: #1798f7;
}

.menu_search input[type="text"].unfocus {
    transition: none !important;
}

.tovar_price.mod .sel select {
    background: #f1f1f1 none repeat scroll 0 0;
}

.tovar_price.mod .sel select, .tovar_price .sel select {
    background: none;
    border: none;
}

.tovar_price .sel .ar {
    display: none;
}

/* 2016-11-22 */
.dealerslist_item_btn {
    padding: 0;
    outline: none;
}

.subscr_form input[type='submit'] {
   font: 18px/43px "roboto",sans-serif;
   height: 43px;
   width: 43px;
   margin-top: 0;
   position: absolute;
}

.subscr_form {
   line-height: 47px;
}

.foot_social a {
    display: inline-block;
    vertical-align: middle;
}

/* страница кооперации */

#coop-form .center-block {
    text-align: center;
}

.coop-form-btn {
    background: 0;
    border: 2px solid #06a35c;
    border-radius: 0;
    padding: 5px 30px;
}

#coop-form .form-title {
    text-align: center;
    color: #000;
    font-size: 20px;
    line-height: 2.5em;
    font-weight: 500;
}

#coop-form .form-group {
    overflow: hidden;
    margin-bottom: 25px;
}

#coop-form .form-group label {
    font-weight: 400;
}

#coop-form .form-title span {
    display: none;
}
#coop-form .form-title span.active {
    display: block;
}

.coop-button-custom {
    margin-top: 30px;
}

.coop-button-custom i {
    width: 50%;
}

.coop-button-custom i.left {
    left: 0;
}

.coop-button-custom i.right {
    left: 50%;
}

#coop-form .invalid {
    border: 1px solid #f88;
}

/* /страница кооперации */
