/*ALL STYLE*/
.inner_width{
    position: relative;
    width: 1151px;
    padding: 0 15px;
    margin: 0 auto;
}
.right{
    float: right;
}
.ovfl{
    overflow: hidden;
}
.clr{
    clear: both;
}
b{
    font-weight: bold;
    font-family: 'proxima',sans-serif;
}
.center{
    text-align: center;
}
a.lnk,a.lnk:visited{
    color: #1798f7
}
.hide{
    display: none!important;
}
.gr{
    color: #03a35b;
}
p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 4px 0;
    color: #666;
}
ul{
   list-style: none;
}
ul li{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    color: #666;
}
.imgleft{
    display: block;
    float: left;
    margin: 0 30px 5px 0;
    max-width: 100%;
}
.imgfull{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
/*HEADER*/
.head{
    position: relative;
    min-height: 63px;
    padding: 25px 15px;
}
    .searchbtn{
       position: relative;
        width: 30px;
        float: right;
        cursor: pointer;
        margin-left: 20px;
        margin-top: 7px;
    }
    .munubtn{
        display: none;
        position: relative;
        width: 30px;
        float: right;
        cursor: pointer;
        margin-left: 20px;
        margin-top: 4px;
    }
        .munubtn span{
            width: 30px;
            height: 5px;
            background: #919191;
            border-radius: 10px;
            margin-bottom: 4px;
            display: block;
        }
    .head_logo{
        position: relative;
        float: left;
    }
    .head_ttl{
        color: #919191;
        font-size: 13px;
        width: 300px;
        margin-top: 6px;
    }
    .head_list{
        list-style: none;
        text-align: center;
        float: left;
        height: 63px;
        line-height: 63px;
        margin: 0 34px 0 58px;
    }
        .head_list li{
            display: inline-block;
        }
            .head_list li img{
                vertical-align: middle;
            }
            .head_list a{
                font-size: 15px;
                margin: 0 9px;
            }
    .icyou{
        display: inline-block;
        position: relative;
        width: 30px;
        margin-bottom: -9px;
        height: 30px;
        background: url(../images/icons/you_mini.png) left top no-repeat;
    }
    .icyou:hover{
        background-position: right top;
    }
    .head_linkwrap{
        position: relative;
        float: right;
        line-height: 60px;
        text-align: right;
    }
        a.head_link,.head_link{
            max-width: 220px;
            text-align: center;
            min-width: 147px;
            cursor: pointer;
            transition: all 0.3s;
            font-size: 16px;
            color: #666;
            height: 29px;
            line-height: 28px;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 0 10px;
            text-decoration: none;
            display: inline-block;
            position: relative;
        }
        a.head_link:hover,.head_link:hover{
            color: #fff;
            background: #ccc;
        }
        a.head_link.bl,.head_link.bl{
            color: #1798f7;
            border-color: #1798f7;
        }
        a.head_link.bl:hover,.head_link.bl:hover{
            background: #1798f7;
            color: #fff;
        }
        a.head_link.red,.head_link.red{
            color: #e26060;
            border-color: #e26060;
            margin-left: 65px;
        }
        a.head_link.red:hover,.head_link.red:hover{
            background: #e26060;
            color: #fff;
        }
/*MENU*/
.menuline{
    position: relative;
    height: 50px;
    background: #484f58;
}
.menuline.fix{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
    .menuline_wr{
        list-style: none;
        position: relative;
        display: inline-block;
    }
        .menuline_wr > li{
            float: left;
            display: block;
            border-left: 1px solid #5d636a;
        }
        .menuline_wr > li:last-child{
            border-right: 1px solid #5d636a;
        }
            .menuline_wr > li > a{
                display: block;
                height: 50px;
                font: 14px/53px  'proxima',sans-serif;
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
                transition: all 0.3s;
                padding: 0 15px;
            }
            .menuline_wr > li > a.ffm{
                font-family: 'Roboto';
                text-transform: none;
                line-height: 50px;
            }
            .menuline_wr > li > a:hover{
                background: #545b64 ;
            }
                .level2{
                    position: absolute;
                    top:50px;
                    display: block;
                    left: 1px;
                    z-index: 30;
                    width: 463px;
                    height: 0;
                    list-style: none;
                    padding: 0;
                    background: #fff;
                    box-shadow:  0px 3px 5px 0px rgba(50, 50, 50, 0.38);
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0s, opacity 0.2s linear;
                }
                    .level2 li{
                        display: block;
                        margin-bottom: 12px;
                    }
                        .level2 li a,.level2 li a:visited{
                            color: #000;
                            text-transform: uppercase;
                            font:bold 14px 'proxima',sans-serif;
                            text-decoration: none;
                            transition: all 0.3s;
                        }
                        .level2 li a:hover{
                            text-decoration: none;
                            color: #04a35b;
                        }
            .icmenu{
                display: inline-block;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 5px solid #fff;
                width: 0;
                height: 0;
                margin: 3px -2px 1px 5px;
            }
            .menuline_right{
                position: absolute;
                top:0;
                right: 15px;
                z-index: 2;
                text-align: right;
            }
            .menu_search{
                position: relative;
                line-height: 50px;
                display: inline-block;
                height: 50px;
                overflow: hidden;
            }
            .menu_search.modtog{
                width: 100%;
                display: none;
                border: 1px solid #d7d7d7;
            }
                .menu_search span{
                    font-size: 14px;
                    color: #484f58;
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 10px;
                    z-index: 999;
                    cursor: pointer;
                }
                .menu_search input[type='text']{
                    border: none;
                    background: none;
                    color: #484f58;
                    font-size: 14px;
                    text-align: left;
                    outline: none;
                    padding: 0 95px 0 10px;
                    width: 0px;
                    height: 44px;
                    display: inline-block;
                    position: relative;
                    z-index: 4;
                    cursor: pointer;
                    transition: all 0.5s;
                }
                .menu_search input[type='text'].focus,.menu_search.modtog input[type='text']{
                    line-height: 50px;
                    border: 1px solid #d7d7d7;
                    color: #000;
                    z-index: 1;
                    cursor: text;
                    width: 640px;
                    background:#fff;
                    box-sizing: border-box;
                }
                .menu_search.modtog input[type='text']{
                    border:none;
                    width: 98%;
                    padding: 0 0 0 2%;
                    text-align: left;
                }
                .menu_search input[type='text'].focus + input{
                    background-image:url(../images/icons/search2.png);
                    right: 65px;
                }
                .menu_search.modtog input[type='text'] + input{
                    background-color: #fff;
                    background-image: url("../images/icons/search2.png");
                    background-position: center center;
                    height: 100%;
                    right: 0;
                    cursor: pointer;
                    outline: none;
                    margin-right: -10px;
                    top: 0;
                    width: 50px;
                }
                .menu_search input[type='submit']{
                    display: inline-block;
                    background: url(../images/icons/search.png) left top no-repeat;
                    height: 19px;
                    width: 19px;
                    position: absolute;
                    right: 10px;
                    outline: none;
                    cursor: pointer;
                    top: 16px;
                    z-index: 2;
                    border: none;
                }
                .icru{
                    display: inline-block;
                    background: url(../images/icons/ru.png) left top no-repeat;
                    width: 20px;
                    height: 13px;
                    margin: 3px 7px -2px 5px;
                }
                .ichome{
                    display: inline-block;
                    background: url(../images/icons/home.png) left top no-repeat;
                    width: 14px;
                    height: 13px;
                    margin: 3px 7px 0 5px;
                }
/*MAIN*/
.main{
    position: relative;
}
.breadcrumbs{
    position: relative;
    min-height: 43px;
    border-bottom: 1px solid #e5e5e5;
    line-height: 43px;
}
    .breadcrumbs a{
        font-weight: 300;
        color: #000033;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        padding: 0 23px 0 6px;
        height: 43px;
        position: relative;
        transition: all 0.3s;
    }
    .breadcrumbs .curr{
        color: #b0b0b0;
        font-size: 14px;
        padding: 0 23px 0 6px;
        height: 45px;
        font-weight: 300;
    }
        .breadcrumbs a:first-child{
            padding-left: 0;
        }
        .breadcrumbs a:before{
            content: '';
            position: absolute;
            top:-1px;
            right: 0;
            background: url(../images/icons/breadcrumbs.png) left top no-repeat;
            width: 15px;
            height: 45px;
            display: block;
        }
        .breadcrumbs a:hover{
            text-decoration: none;
            color: #b0b0b0;
        }
.page_ttl{
    position: relative;
    background: #f5f5f5;
    padding: 35px 0;
    margin-bottom: 50px;
}
    .page_ttl.mod{
        margin-bottom: 0;
    }
    .page_ttl h1{
        display: inline-block;
        color: #333;
        font-size: 25px;
        font-family: 'proxima',sans-serif;
        padding-right: 17px;
        vertical-align: middle;
        font-weight: 300;
    }
    .page_ttl.tovar{
        padding: 29px 0;
    }
    .page_ttl.tovar h1{
        font-family: 'proxima';
        font-weight: 400;
    }
    a.tovar_pass{
        background: url(../images/icons/passport.png) 16px top no-repeat;
        color: #333;
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        height: 40px;
        padding-left: 64px;
        border-left: 1px solid #d7d7d7;
        vertical-align: middle;
        width: 72px;
        text-decoration: none;
    }
    a.tovar_pass:hover{
        text-decoration: underline;
    }
 .head_link.right{
     margin-top: 7px;
 }
.tovar_wrap{
    position: relative;
    overflow: hidden;
}
    .tovar_l{
        float: left;
        padding: 26px 45px;
        position: relative;
        border: 1px solid #b7b7b7;
        width: 278px;
        z-index: 2;
    }
        .tovar_img{
            position: relative;
            margin: 0 auto;
            width: 232px
        }
            .tovar_img img{
                width: 100%;
            }
.tovar_price{
    position: relative;
    color: #a2a2a2;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 12px;
}
    .tovar_price span{
        vertical-align: middle;
    }
    .tovar_price .pr{
        font-weight: 400;
        color: #000;
        font-size: 26px;
        margin: 0 4px;
    }
.sel{
    position: relative;
    width: 71px;
    display: inline-block;
}
    .sel select{
        /*for WebKit*/
        -webkit-appearance: none;
        /* for FF */
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        /* for IE */
        -ms-appearance: none;
        appearance: none!important;
        display: inline-block;
        height: 48px;
        width: 69px;
        border: 1px solid #e1e1e1;
        font-weight: 300;
        font-size: 16px;
        text-transform: uppercase;
        color: #333;
        position: relative;
        vertical-align: middle;
        padding-left: 6px;
    }
        .sel .ar{
            z-index: 2;
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top:22px;
            right: 12px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 5px solid #818181;
        }
        .sel .ar.white{
            border-top: 5px solid #FFFFFF;
        }
a.tovar_buy{
    display: block;
    background: #ffe900;
    color: #000;
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 3px;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    width: 198px;
    height: 45px;
    border: 1px solid #ffe900;
    line-height: 45px;
    margin: 37px auto 21px;
}
    a.tovar_buy:hover{
        background: none;
    }

.tovar_r{
    position: relative;
    padding-left: 400px;
}
    .tovar_navtab{
        overflow: hidden;
        list-style: none;
        height: 45px;
        border: 1px solid #d7d7d7;
        border-radius: 25px;
        background: url(../images/icons/navtabsbg.jpg) left center repeat-x;
        text-align: center;
        margin-bottom: 24px;
        position: relative;
        font-size: 0;
    }
    .tovar_tab{
        display: none;
    }
    .tovar_tab.act{
        display: block;
    }
        .tovar_navtab span{
            position: relative;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            width: 30%;
            height: 45px;
            cursor: pointer;
            z-index: 19;
            font:15px/44px 'proxima',sans-serif;
        }
        .tovar_navtab span:nth-child(3),.hide.visible1080bl[data-tab='1']{
            width: 40%;
        }
        .tovar_navtab span:hover,.tovar_navtab span.act{
            color: #04a35b;
        }
        .tovar_navtab  i{
            border: 1px solid #d7d7d7;
            border-radius: 25px;
            display: block;
            height: 100%;
            position: absolute;
            top: -1px;
            width: 33%;
            transition: all 0.5s;
            z-index: 1;
            left: -26px;
            background: url(../images/icons/navtabsbg_hov.jpg) left center repeat-x;
        }
        .tovar_navtab i.center{
            left: 33%;
        }
        .tovar_navtab i.right{
            left: 67%;
        }
        .tovar_navtab i.left{
            left: -3%;
        }
       /* .tovar_navtab li:hover span{
            color: #04a35b;
        }
            .tovar_navtab li input:checked + i,.tovar_navtab li.act i{
                height: 45px;
                left: 50%;
                margin-left: -60%;
                width: 120%;
                z-index: 2;
            }
            .tovar_navtab li.act span,.tovar_navtab input:checked + i + span{
                z-index: 3;
                position: relative;
            }
            .tovar_navtab li:first-child input:checked + i,.tovar_navtab li:first-child.act i{
                width: 111%;
            }*/
    .tovar_features{
        position: relative;
        padding: 12px 15px;
    }
        .tovar_features p{
            color: #000;
            line-height: 1.3em;
        }
        .tone_features {
            background: #f5f1d9;
        }
.socialshare{
    position: relative;
    margin: 14px auto;
}

    .socialshare a{
        margin-right: 2px;
    }
.description{
    color: #8e8e8e;
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 57px;
    font-weight: 300;
    /*padding-bottom: 57px;*/
    text-align: justify;
}
    .separator{
        display: block;
        width: 100%;
        height: 1px;
        background: #d7d7d7;
        margin-bottom: 30px;
    }
    .separator.modf{
        clear: both;
        background: #707070;
        margin-bottom: 10px;
    }
/*FOOTER*/
.foot{
    margin-top: 33px;
    background: #515151;
    padding-bottom: 15px;
    padding-top: 50px;
    position: relative;
	min-height: 300px;
    height: auto;
}
.foot.mod{
    margin-top: 0;
}
    .foot_half{
        position: relative;
        width: 50%;
        float: left;
        overflow: hidden;
        margin-bottom: 9px;
    }
        .foot_half.right{
            float: right;
        }
    .foot_item{
        position: relative;
        width: 250px;
        float: left;
        overflow: hidden;
        margin-right: 34px;
        color: #8e8e8e;
    }
        .foot_item.modr{
            margin-right: 0;
            float: right!important;
        }
        .foot_item p{
            color: #8e8e8e;
        }
        .foot_item.map{
            background: url(../images/map.png) 15px 40px no-repeat;
            height: 200px;
        }
        .foot_listhalf{
            float: left;
            margin: 0 16px;
            position: relative;
        }
            .foot_listhalf a{
                font-weight: 300;
                color: #8e8e8e;
                text-decoration: none;
                font-size: 14px;
                display: block;
                margin: 4px 0;
            }
        .foot_ttl{
            font-weight: 300;
            font-size: 16px;
            color: #fff;
            margin-bottom: 20px;
        }
        .foot_ttl.mod{
            font-size: 15px;
            margin-bottom: 0;
            margin-top: 25px;
        }
                .foot_listhalf a:hover,.foot_listhalf a.act{
                    color: #fff;
                    text-decoration: none;
                }
    a.foot_link,a.foot_link:visited{
        color: #72a3ed;
        text-decoration: none;
    }
    a.foot_link:hover{
        text-decoration: underline;
    }
    .foot_form{
        height: 40px;
        position: relative;
        width: 248px;
        border-radius: 25px;
        background: #fff;
        overflow: hidden;
    }
        .foot_form input[type='text']{
            display: inline-block;
            height: 20px;
            width: 175px;
            padding: 0 20px;
            outline: none;
            color: #000;
            border: none;
            font:300 14px 'Roboto',sans-serif;
            background: #fff;
            width: 148px;
        }
        .foot_form input[type='submit']{
            display: inline-block;
            height: 40px;
            width: 56px;
            background: #04a35b;
            color: #fff;
            text-align: center;
            border: none;
            text-transform: uppercase;
            font:300 16px/38px 'Roboto',sans-serif;
            cursor: pointer;
        }
    .foot_social{
        position: relative;
        margin: 23px 0 0;
    }
        .foot_social a{
            margin-right: 11px;
        }
    .foot_copy{
        color: #8e8e8e;
        font-weight: 300;
        font-size: 14px;
    }
    .foot_copy span{
        float: right;
    }
.support{
    position: absolute;
    top: 34px;
    display: none;
    cursor: default;
    z-index: 3;
    right: 0;
    width: 235px;
    padding: 25px 30px;
    background: #fff;
    text-align: left;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.39);
    -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.39);
    box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.39);
}
    .support_close{
        position: absolute;
        top:15px;
        right: 15px;
        background: url(../libs/fancybox/close.png) left top no-repeat;
        width: 16px;
        height: 21px;
        text-indent: -9999px;
        overflow: hidden;
    }
    .support a,.support a:visited{
        color: #0063b0;
        text-decoration: underline;
        display: block;
        line-height: 1.6em;
        font-size: 14px;
    }
    .support a:hover{
        color: #0063b0;
        text-decoration: none;
    }
    .support b{
        display: block;
        font: bold 15px 'proxima', sans-serif;
        color: #000;
        margin: 7px 0;
    }
.subscribemain{
    position: relative;
    width: 770px;
    text-align: center;
}
    .subscribemain_top{
        position: relative;
        padding: 95px 0 40px;
        background: #333 url(../images/icons/news_subscribemain.png) center 30px no-repeat;
        color: #fff;
        text-align: center;
    }
        .subscribemain_top b{
            font:bold 24px 'proxima',sans-serif;
            color: #fff;
            display: block;
            margin-bottom: 25px;
        }
        .subscribemain_top p{
            color: #fff;
            font-size: 18px;
            padding: 0 18px;
        }
    .subscribemain_fr{
        position: relative;
        padding: 20px 0 44px;
        background: #fff;
        text-align: center;
    }
        .subscribemain_fr input[type='text']{
            border: 1px solid #e1e1e1;
            height: 44px;
            width: 338px;
            padding: 0 16px;
            font:300 15px/44px 'roboto',sans-serif;
            color: #000;
            text-align: left;
            outline: none;
            vertical-align: top;
        }
    .subscribemain_thx{
        display: inline-block;
        margin-bottom: 50px;
    }
/***************/
/*RZA*/
/***************/
a.rzacatalog{
    background: url(../images/icons/rza_catalog.png) left top no-repeat;
    color: #000;
    display: block;
    float: right;
    font-size: 15px;
    font-weight: 300;
    height: 67px;
    margin-top: -15px;
    padding-left: 75px;
    padding-top: 11px;
    position: relative;
    text-decoration: none;
}
    a.rzacatalog span{
        color: #b9b9b9;
        display: block;
        margin-top: 5px;
    }
.catalogcol{
    position: relative;
    width: 351px;
    text-align: left;
}
    .catalogcol:nth-child(1){
        float: left;
    }
    .catalogcol:nth-child(2){
        display: inline-block;
        float: none;
    }
    .catalogcol:nth-child(3){
        float: right;
    }
    .catalogcol_item{
        position: relative;
        margin-bottom: 34px;
    }
        a.catalogcol_item_ttl,.catalogcol_item_ttl{
            color: #333;
            line-height: 1.3em;
            font-family: 'proxima';
            text-decoration: underline;
            display: inline-block;
            margin-bottom: 20px;
            transition: all 0.3s;
            font-size: 18px;
            font-weight: bold;
        }
        a.catalogcol_item_ttl h4{
            font-family: 'proxima';
        }
        a.catalogcol_item_ttl:hover,.catalogcol_item_ttl:hover{
            color: #04a35b;
            text-decoration: underline;
        }
        .catalogcol_item_list{
            list-style: none;
        }
            .catalogcol_item_list li{
                display: block;
                margin-bottom: 5px;
            }
                .catalogcol_item_list li a, .catalogcol_item_list li a:visited{
                    color: #004d99;
                    font-weight: 300;
                    font-size: 16px;
                    text-decoration: none;
                }
                .catalogcol_item_list li a:hover{
                    text-decoration: underline;
                    color: #004d99;
                }
/***************/
/*RZA UPRAVLENIE*/
/***************/
.clrmar{
    font-size: 0;
    line-height: 0;
}
.blocklink{
    position: relative;
    width: 319px;
    height: 287px;
    margin-bottom: 19px;
    border: 1px solid #d7d7d7;
    text-align: left;
    transition: all 0.3s;
    padding: 23px 23px 25px;
    display: inline-block;
    margin-top: 0 !important;
}
    .blocklink:nth-child(3n+2){
        margin: 0 19px;
    }
    .blocklink:hover{
        -webkit-box-shadow: -1px 5px 30px -4px rgba(4,163,91,0.73);
        -moz-box-shadow: -1px 5px 30px -4px rgba(4,163,91,0.73);
        box-shadow: -1px 5px 30px -4px rgba(4,163,91,0.73);
    }
        .blocklink:hover .catalogcol_item_ttl{
            color: #04a35b;
        }
    .blocklink > a{
        text-decoration: none;
    }
     .blocklink_ttl{
            position: relative;
            overflow: hidden;
            height: 83px
        }
            .blocklink_ttl .pic{
                width: 90px;
                height: 83px;
                position: relative;
                float: left;
                text-align: center;
            }

            .blocklink_ttl .pic_m{
                width: 90px;
                height: 83px;
                /*position: relative;*/
                float: left;
                text-align: center;
            }

            .blocklink_ttl .pic img{
                height: 145px;
            }

            .blocklink_ttl .pic_m img{
                height: 73px;
            }

            .blocklink_ttl .catalogcol_item_ttl{
                display: block;
                font-weight: normal;
				line-height: 1;
            }
    .blocklink p {
        color: #333;
        line-height: 1.4em;
        max-height: 207px;
        overflow: hidden;
    }
/***************/
/*RZA UPRAVLENIE FOTORELE*/
/***************/
.accordion_wrap p{
    display: none;
}
a.linkdown{
    color: #0063b0;
    font-size: 18px;
    transition: all 0.3s;
    display: block;
}
a.linkdown:hover,a.linkdown.act{
    color: #000;
    text-decoration: none;
}
.catalogwrap{
    position: relative;
    margin-top: 11px;
}
.filterwrap{
    position: relative;
    float: left;
    width: 270px;
    margin-top: 27px;
    z-index: 2;
}
    .filter,.barinfo{
        border: 1px solid #e1e1e1;
        background: #f2f2f2;
        padding: 13px;
        margin-bottom: 18px;
        position: relative;
    }
    .barinfo{
        font-size: 16px;
        line-height: 1.4em;
        padding: 27px 21px 27px 27px;
    }
    .barinfo .big{
        display: block;
        margin-bottom: 25px;
        font:bold 18px 'proxima',sans-serif;
    }
    .barinfo  .subscr_form input[type="text"]{
        width: 153px;
    }
    .filter a.reserfilter{
        position: relative;
        display: block;
        text-align: center;
        color: #e26060;
        text-decoration: none;
        font:15px 'proxima', sans-serif;
    }
    .filter a.reserfilter:hover{
        text-decoration: underline;
    }
.filter_item{
    position: relative;
    margin: 13px 0;
}
    .filter_item span{
        color: #000;
        display: block;
        font: 16px/1.4em "proxima",sans-serif;
        margin-bottom: 8px;
    }
.filter_item.mod{
    color: #333;
    display: inline-block;
    margin-right: 9px;
    margin-top: 28px
}

.filter_item label {
    font-weight: normal;
}

.reset_filter {
    font-size: 16px;
}

.reserfilter.mod{
    float: right;
    font-size: 16px;
    margin-top: 31px;
}
.sel.mod{
    width: 100%;
}
    .sel.mod select{
        width: 100%;
        font:300 15px 'roboto',sans-serif;
        text-transform: none;
    }
    .sel.mod select option{
        background-color: #FFFFFF;
        color: #333;
    }
    .sel.mod select:focus {
        outline:none;
    }
    .sel.mod select.bl{
        background: #02ad60;
        color: #FFFFFF;
    }
.sel.mod.royale select option{
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
    max-width: 310px;
}
.sel.mod.royale select option::selection {
    background-color: #fafafa;
}
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.checkbox + label {
  cursor: pointer;
}
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 31px;
}
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #d7d7d7;
  background: none;
}
.checkbox:checked + label:before {
    background: #02ae60 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 12px;
    left: 5px;
    position: absolute;
    top: 4px;
    width: 12px;
}
.subscribe{
    font-size: 15px;
    padding:32px 21px 54px;
    position: relative;
    background: #dff2d9;
    margin-bottom: 18px;
}
    .subscr_form{
        position: relative;
        height: 45px;
        border: 1px solid #e1e1e1;
        line-height: 45px;
        background: #fff;
        font-size: 0;
        line-height: 0;
        margin-top: 27px;
    }
        .subscr_form input[type='text']{
            border: medium none;
            color: #000;
            display: inline-block;
            font: 300 15px "roboto",sans-serif;
            padding: 0 8px;
            vertical-align: middle;
            width: 161px;
            outline: none;
        }
        .subscr_form input[type='submit']{
            background: #02ad60;
            border: medium none;
            border-radius: 3px;
            color: #fff;
            display: inline-block;
            font: 18px/48px "roboto",sans-serif;
            height: 48px;
            margin-top: -2px;
            text-transform: uppercase;
            vertical-align: middle;
            width: 48px;
        }
.catalog{
    position: relative;
    padding-left: 301px;
}
    .catalog_panel{
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 7px;
        position: relative;
        overflow: hidden;
        font-weight: 300;
        font-size: 16px;
        color: #666;
        height: 25px;
    }
    .catalog_panel .num{
        position: relative;
        float: left;
    }
    .catalog_panel .numshow{
        position: relative;
        float: right;
    }
        .catalog_panel .numshow a,.catalog_panel .numshow a:visited{
            text-decoration: none;
            transition: all 0.3s;
        }
        .catalog_panel .numshow a:hover,.catalog_panel .numshow a.curr{
            text-decoration: none;
            color: #1798f7;
        }
        .catalog_panel .numshowbl{
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid #d7d7d7;
        }
.catalog_error {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 160px;
}

.catalog_loader {
    float: left;
    display: none;
    margin-left: 30px;
    margin-top: -5px;
}

.catalog_error a{
    margin-top: 20px;
    display: inline-block;
    width: 162px;
    height: 46px;
    border: 1px solid #e26060;
    border-radius: 3px;
    background: #e26060;
    text-align: center;
    font:300 15px/45px 'roboto',sans-serif;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
}
.catalog_error a:hover{
    color: #fff;
    background: #e26060;
    box-shadow: 2px 2px 13px -2px rgba(0,0,0,0.75);
}
.catalog_error p {
    font-size: 25px;
    line-height: 1em;
}
.catalog_item{
    position: relative;
    padding: 15px 0px 45px 0px;
    border-bottom: 1px solid #d7d7d7;
    min-height:168px;
    overflow:hidden;
}
    .catalog_itemhalf{
        position: relative;
        float: left;
        width: 57%;
    }
    .catalog_itemhalf.mod{
        width: 43%;
        text-align: right;
        padding-top: 56px;
    }
    .catalog_item_pic{
        border: 1px solid #d7d7d7;
        width: 166px;
        height: 166px;
        white-space: nowrap;
        text-align: center;
        margin: 1em 0;
        float: left;
    }
        .catalog_item_pic .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        .catalog_item_pic img{
            vertical-align: middle;
            max-height: 160px;
            max-width: 160px;
        }

    .catalog_item_inf{
        padding-left: 30px;
        float: left;
        padding-top: 29px;
        position: relative;
    }
        .catalog_item_inf a{
            display: block;
            margin-bottom: 13px;
            color: #333;
            font: 25px "proxima",sans-serif;
            font-weight: 600;
            max-width: 270px;
        }
        .catalog_item_inf ul{
            list-style: none;
        }
            .catalog_item_inf ul li{
                position: relative;
                color: #666;
                padding-left: 4px;
                margin-bottom: 4px;
                max-width: 270px;
                font-size: 15px;
            }
            .catalog_item_inf ul li:after{
                border-radius: 50%;
                content: "";
                display: block;
                height: 3px;
                left: -4px;
                position: absolute;
                top: 8px;
                width: 3px;
                background: #666;
            }
    .tovar_price.mod{
        font-size: 18px;
        display: inline-block;
    }
        .tovar_price.mod .pr{
            font-size: 19px;
        }
           .tovar_price.mod .sel select{
               font-size: 15px;
           }
    a.catalog_item_more,.catalog_item_more{
        display: inline-block;
        width: 132px;
        height: 46px;
        border: 1px solid #02ad60;
        border-radius: 3px;
        background: #02ad60;
        text-align: center;
        font:300 15px/45px 'roboto',sans-serif;
        text-decoration: none;
        color: #fff;
        transition: all 0.3s;
        cursor: pointer;
    }
    .subscribemain_fr .catalog_item_more{
        font-weight: 500;
    }
    a.catalog_item_more{
        margin-left: 19px;
    }
    a.catalog_item_more:hover,.catalog_item_more:hover{
        color: #fff;
        background: #02ad60;
        box-shadow: 2px 2px 13px -2px rgba(0,0,0,0.75);

    }
.catalog_panel + .catalog_item{
    border: none;
}
/***************/
/*All products*/
/***************/
.blocklink.mod{
    height: 340px;
    border: none;
    background: #fff;
    border: 1px solid #ebebeb;
}
    .blocklink.mod .blocklink_ttl{
        height: 225px;
        overflow: visible;
    }
        .blocklink.mod .catalogcol_item_ttl{
            text-align: center;
            color: #000033;
            font-size: 19px;
            line-height: 1em;
        }
        .blocklink.mod .pic{
            float: none;
            width: 100%;
            height: 186px;
            line-height: 186px;
            text-align: center;
        }
        .blocklink.mod .pic img{
            vertical-align: middle;
        }
        .blocklink.mod .picmini{
            left: -6px;
            position: absolute;
            top: -7px;
            z-index: 1;
        }
        .blocklink.mod p{
            color: #787777;
            line-height: 1.3em;
            font-size: 15px;
            height: 117px;
        }
.blocklink.mod:hover .catalogcol_item_ttl{
    color: #1798f7;
    text-decoration: none;
}
.blocklink.mod:hover .gr{
    color: #1798f7
}
/***************/
/*ABOUT*/
/***************/
.banner{
    position: relative;
    background: url(../images/bann1.jpg) center top no-repeat;
    height: 252px;
    padding-top: 75px;
}
    .banner h3{
        color: #fff;
        font:25px 'proxima',snas-serif;
        display: block;
    }
    .banner p{
        color: #fff;
        font-size: 16px;
    }
.aboutlist{
    list-style: none;
    position: relative;
    margin: 26px 0;
}
    .aboutlist li{
        display: inline-block;
        text-align: center;
        line-height: 33px;
        height: 33px;
        width: 286px;
        border-left: 1px solid #d7d7d7;
    }
    .aboutlist li:first-child{
        border: none;
    }
        .aboutlist li a,.aboutlist li a:visited{
            text-decoration: none;
            color: #000;
            font:19px 'proxima',sans-serif;
            transition: all 0.3s;
        }
        .aboutlist li a:hover,.aboutlist li.act a{
            text-decoration: none;
            color: #04a35b;
        }
.text{
    background: #f7f7f7;
    padding: 45px 0;
}
    .text p{
        font-size: 15px;
    }
    .text b{
        display: block;
        margin: 23px 0;
    }
/***************/
/*NEWS*/
/***************/
.newswr{
    position: relative;
    overflow: hidden;
}
    .filterwrap.mod{
        float: right;
    }
    .catalog.mod{
        padding-right: 301px;
        padding-left: 0;
    }
.newsfilter{
    list-style: none;
    position: relative;
}
    .newsfilter li{
        display: inline-block;
        margin-right: 4px;
        overflow: hidden;
        max-width: 383px;
        height: 40px;
    }
        .newsfilter li a, .newsfilter li a:visited{
            width: 80px;
            height: 33px;
            display: block;
            border: 1px solid #d7d7d7;
            line-height: 33px;
            border-radius: 25px;
            transition: all 0.3s;
            text-align: center;
            font-size: 15px;
            color: #333;
            text-decoration: none;
        }
        .newsfilter li a:hover,.newsfilter li a.act{
            text-decoration: none;
            color: #1798f7;
        }
.news_item{
    position: relative;
    padding: 25px 0;
    overflow: hidden;
    border-top: 1px solid #d7d7d7;
}
.catalog.mod .catalog_panel + .news_item{
    border: none;

}
    .news_item_img{
        position: relative;
        float: left;
        width: 370px;
        margin-right: 30px;
    }
        .news_item_img img{
            width: 100%;
        }
        .news_item_inf .catalogcol_item_ttl{
            display: block;
            margin-bottom: 13px;
        }
        .news_item_date{
            display: block;
            color: #666;
            font:16px 'proxima',sans-serif;
        }
/***************/
/*NEWS SINGLE*/
/***************/
.news_single{
    position: relative;
}
    .news_single p{
        line-height: 1.4em;
    }
    .news_single .catalogcol_item_ttl{
        margin-bottom: 17px;
        max-width: 645px;
    }
    .news_single .news_item_date{
        height: 33px;
    }
    .news_single .socialshare{
        float: right;
        margin-top: -3px;
    }
.simiral{
    position: relative;
    margin: 35px 0;
}
    .simiral b{
        font:bold 16px 'proxima',sans-serif;
        color: #000;
        display: block;
        margin-bottom: 6px;
    }
.newsfilter.mod a{
    padding: 0 20px;
    width: auto;
    margin-bottom: 10px;
}
/***************/
/*CONTACTS*/
/***************/
.contactslist{
    list-style: none;
    position: relative;
    background: #f7f7f7;
    border: 1px solid #d7d7d7;
    width: 270px;
    float: left;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 75px;
}
    .contactslist li{
        height: 46px;
        position: relative;
        display: block;
        line-height: 44px;
        border-bottom: 1px solid #d7d7d7;
    }
    .contactslist li:last-child{
        border: none;
    }
    .contactslist li:hover,.contactslist li.act{
        border: 2px solid #008dff;
        margin-top: -2px;
        margin-bottom: -1px;
    }
    .contactslist li:last-child:hover{
        margin-bottom: -2px;
    }
        .contactslist li a,.contactslist li a:visited{
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #000;
            font: normal 15px/1.2em 'proxima',sans-serif;
            text-decoration: none;
        }
        .contactslist li a:hover{
            text-decoration: none;
            color: #000;
        }
.contactstab{
    position: relative;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 2s;
    height: 0;
}
.contactstab.act{
    height: auto;
    opacity: 1;
    visibility: visible;
}
    .contactstab_info{
        position: relative;
        float: left;
        margin: 20px 0;
    }
        .contactstab_ttl{
            position: relative;
            font:bold 18px 'proxima',sans-serif;
            color: #333;
            margin-bottom: 6px;
        }
        .contactstab_info a,.contactstab_info a:visited{
            display: inline-block;
            margin-top: 11px;
            color: #0063b0;
            text-decoration: none;
        }
        .contactstab_info a:hover{
            text-decoration: underline;
            color: #0063b0;
        }
    .contactstab_map{
        position: relative;
        float: right;
        width: 320px;
    }
        .contactstab_map img{
            width: 100%;
        }
/***************/
/*MAIN*/
/***************/
.carousel_item{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
    .carousel_item .inner_width{
        padding-top:  155px;
    }
    .carousel_item h3{
        color: #fff;
        font:500 31px 'Roboto',sans-serif;
        text-align: center;
        display: block;
        margin-bottom: 25px;
    }
    .catalog_item_more.big{
        padding: 0 30px;
        transition: all 0.3s;
        margin-left: 0;
        font-weight: normal;
    }
    .catalog_item_more.big:hover{
        color: #fff;
        background: #02ad60;
        box-shadow: 2px 2px 25px -2px rgba(0,0,0,0.75);
    }
    .catalog_item_more.big.gr{
        background: none;
        border-color: #ccc;
        color: #666;
    }
    .catalog_item_more.big.gr:hover{
        box-shadow: none;
    }
.servicettl{
    position: relative;
    text-align: center;
    font-weight: 400;
    color: #333;
    font-size: 25px;
    margin: 42px 0;
}
.servicettl.line:after{
    content: '';
    position: absolute;
    top:16px;
    left: 0;
    background: #f0f0f0;
    height: 1px;
    width: 100%;
    display: block;
}
    .servicettl h5{
        background: #fff;
        display: inline-block;
        font-family: roboto;
        font-weight: 400;
        padding: 0 15px;
        position: relative;
        z-index: 2;
    }
    .servicettl span{
        display: block;
        font-size: 15px;
        margin-top: 16px;
    }
.service_item{
    position: relative;
    background: #f0f0f0;
    overflow: hidden;
    border-top:1px solid #ddd;
    overflow: hidden;
    padding: 0 20px ;
    transition: all 0.3s;
}
.servicettl + .service_item{
    border: none;
}
    .service_item_pic{
        position: relative;
        float: left;
        height: 177px;
        line-height: 170px;
        text-align: center;
        width: 170px;
    }
    .service_item_pic.mod{
        line-height: 195px;
    }
        .service_item_pic img{
            vertical-align: middle;
        }
    .service_item_inf{
        position: relative;
        float: left;
        padding: 9px 0;
        width: 686px;
    }
        .service_item_inf .catalogcol_item_ttl{
            font:500 21px 'Roboto',sans-serif;
            margin-bottom: 5px;
            text-decoration: none;
        }
            .service_item_inf .catalogcol_item_ttl img{
                vertical-align: bottom;
                margin-left: 12px;
                max-height: 25px;
            }
    .service_item_r{
        float: right;
        line-height: 170px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 233px;
    }
    /*.service_item:hover{
        background: #04a35b;
        color: #fff;
    }
    .service_item:hover .catalogcol_item_ttl,.service_item:hover p, .service_item:hover ul li,.service_item:hover a{
        color: #fff;
    }*/
    .service_item_inf a{
        margin-right: 5px;
        display: inline-block;
    }
    .service_item .catalog_item_more:hover{
        background: #fff;
        color: #333;
    }
.choose{
    margin-top: 74px;
}
.choosetabs{
    position: relative;
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-top: 48px;
}
    .choosetabs li{
        color: #d8d8d8;
        display: inline-block;
        cursor: pointer;
        height: 34px;
        width: 376px;
        position: relative;
    }
    .choosetabs li[data-num='2']{
        width: 230px;
    }
    .choosetabs li[data-num='1']:after{
        right: -11px;
    }
    .choosetabs li:after{
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        right: -21px;
        top: 16px;
        width: 30px;
        background: #d8d8d8;
    }
    .choosetabs li:last-child{
        margin-right: 0;
    }
    .choosetabs li:last-child:after{
        height: 0;
    }
        .choosetabs li span{
            display: inline-block;
            width: 26px;
            height: 26px;
            border: 2px solid #d8d8d8;
            text-align: center;
            font: 500 16px/26px 'Roboto',sans-serif;
            color: #d8d8d8;
            border-radius: 50%;
            margin-right: 14px
        }
        .choosetabs li.act{
            font-weight: 500;
            color: #333;
        }
        .choosetabs li.act span{
            position: relative;
            border-color: #04a35b;
            font-weight: bold;
            background: #04a35b;
            color: #fff;
        }
        .choosetabs li.act span:after{
            border-bottom: 22px solid #d8d8d8;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            bottom: -30px;
            content: "";
            display: block;
            height: 0;
            left: 3px;
            position: absolute;
            width: 0;
        }
.choosewrap{
    margin-top: 23px;
    position: relative;
    background: #eaebeb ;
    padding: 65px 0;
    box-shadow: inset -1px 3px 11px -8px rgba(0,0,0,0.75);
}
    .choose_form_tab{
        position: relative;
        list-style: none;
        padding-left: 0;
        display: none;
    }
    .choose_form_tab.show{
        display: block;
    }
        .choose_form_tab li{
            display: inline-block;
            margin: 0 10px 10px;
        }
        .choose_form_tab input[type="checkbox"]{
                display:none;
            }
            .choose_form_tab input[type="checkbox"] + label{
              font: 18px bold;
              display: block;
                height: 48px;
                font:300 17px/48px 'Roboto',sans-serif;
                color: #fff;
                overflow: hidden;
                text-align: center;
                padding: 0 30px;
                border-radius: 25px;
                background: #fff;
                color: #333;
                border: 1px solid #d8d8d8;
              color: #444;
              cursor: pointer;
                transition: all 0.3s;
            }
            .choose_form_tab input[type="checkbox"]:checked + label,.choose_form_tab input[type="checkbox"] + label:hover{
                color: #fff;
                background: #1798f7;
                border-color: #1798f7;
            }
.pnow{
    display: inline-block;
    margin: 0;
    text-align: left;
    vertical-align: top;
    width: 620px;
}
.listnow{
    display: inline-block;
    margin-right: 76px;
    margin-top: 0;
    position: relative;
    text-align: left;
    max-width: 450px;
}
    .listnow li{
        color: #333;
        display: block;
        font: bold 15px "proxima",sans-serif;
        margin-bottom: 21px;
        padding-left: 53px;
        position: relative;
        text-transform: uppercase;
    }
        .listnow li:after{
            content: '';
            position: absolute;
            top:5px;
            left: 0;
            width: 21px;
            height: 4px;
            background: #019f55;
            display: block;
        }
.now_item{
    display: inline-block;
    margin: 102px 20px 0;
    padding-top: 230px;
    position: relative;
    text-align: left;
    width: 340px;
    vertical-align: top;
}
    .now_item:after{
        content: '';
        position: absolute;
        top:0;
        left: 50%;
        margin-left: -100px;
        width: 200px;
        height: 200px;
        display: block;
        border: 1px solid #d7d7d7;
        border-radius: 50%;
    }
    .now_item:before{
        content: '';
        position: absolute;
        top:0;
        left: 50%;
        margin-left: -100px;
        width: 200px;
        height: 200px;
        display: block;
        background: url(../images/icons/mainic1.jpg) center center no-repeat;
    }
    .now_item.mod1:before{
        background-image: url(../images/icons/mainic2.jpg);
    }
    .now_item.mod2:before{
        background-image: url(../images/icons/mainic3.jpg);
    }
    .now_item_ttl{
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 400;
        text-align: center;
    }
a.catalog_item_more.modm{
    margin: 49px auto;
    display: block;
}
/***************/
/*MEDIA*/
/***************/
.blocklink.media{
    position: relative;
    height: 262px;
    line-height: 376px;
    vertical-align: top;
    text-align: center;
}
    .blocklink.media > a{
        display: block;
    }
    .blocklink.media:hover{
        background: #f5f5f5;
        border-collapse: #f5f5f5;
        cursor: pointer;
    }
    .media_item{
        position: relative;
        text-align: center;
        display: inline-block;
    }
        .media_item img{
            display: block;
            margin: 0 auto;
        }
        .media_item span{
            color: #333;
            display: block;
            font: bold 18px "roboto",sans-serif;
            margin: 17px auto;
            text-decoration: none;
        }
/***************/
/*MEDIA SINGLE*/
/***************/
a.pricelist_item{
    background: url(../images/icons/pricelist.png) left top no-repeat;
    color: #666;
    display: inline-block;
    font: 300 15px "roboto",sans-serif;
    height: 40px;
    margin-bottom: 61px;
    margin-right: 86px;
    width: 160px;
    padding-left: 45px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
}
    a.pricelist_item span{
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
        color: #333;
        text-decoration: underline;
    }
    a.pricelist_item:hover span{
        text-decoration: none;
    }
/***************/
/*WHERETOBUY*/
/***************/
.filterwh{
    position: relative;
    background: #f0f0f0;
    padding: 50px 50px 70px;
}
    .filterwh_tab{
        display: table;
        position: relative;
        width: 100%;
    }
        .filterwh_tab .sel{
            display: table-cell;
            width: 33%;
        }
        .filterwh_tab .sel:nth-child(2) select,.filterwh_tab .sel:nth-child(3) select{
            border-left: none;
        }
    .filterwh .catalog_item_more{
        display: block;
        margin: 10px auto 0;
}
.dealers_region {
    display: none;
    margin: 45px 0 45px 0;
}
    .dealers_region p{
        font-weight: 400;
        color: #333;
        font-size: 25px;
    }
    .dealers_region a{
        text-decoration: none;
        font: 18px 'proxima', sans-serif;
        margin-left: 20px;
    }

.dealers{
    position: relative;
    font:400 20px  'roboto',sans-serif;
    color: #333;
    margin: 33px 0;
}
    .dealers a,.dealers a:visited{
        color: #333;
        text-decoration: none;
        margin-left: 9px;
        font-size: 15px;
    }
    .dealers a:hover{
        text-decoration: underline;
    }
    .dealers span{
        font-weight: 500;
    }
.dealerslist{
    position: relative;
    list-style: none;
    margin-bottom: 75px;
}
    .dealerslist_item{
        display: block;
        width: 100%;
        position: relative;
        min-height: 48px;
        line-height: 49px;
        border-bottom: 1px solid #707070;
    }
    .dealerslist_item:last-child{
        border: none;
    }
    .dealerslist_item_td{
        vertical-align: middle;
        display: table-cell;
        width: 19%;
        position: relative;
    }
    .dealerslist_item_tr{
        background: #515151;
        cursor: pointer;
    }
    .dealerslist_item.open .dealerslist_item_tr{
        background: #04a35b;
    }
    .dealerslist_item_td:first-child:after{
        content: '';
        position: absolute;
        top:10px;
        right: -1px;
        display: block;
        width: 1px;
        height: 30px;
        background: #707070;
    }
    .dealerslist_item_td.mini{
        width: 2%;
    }
    .dealerslist_item_td.small{
        width: 10%;
    }
    .dealerslist_item_td.half{
        width: 63%;
        vertical-align: top;
    }
    .dealerslist_item_td.half:after{
        width: 0;
    }
        .dealerslist_item_name{
            color: #fff;
            font-weight: 300;
            font-size: 15px;
            padding-left: 32px;
            line-height: 1.3em;
        }
        a.dealerslist_item_lnk{
            color: #72a3ed;
            padding-left: 32px;
            font-size: 15px;
            display: block;
            line-height: 1.3em;
        }
        a.dealerslist_item_lnk:hover{
            text-decoration: underline;
        }
        .dealerslist_item.open a.dealerslist_item_lnk{
            color: #fff;
        }
            .dealerslist_item.open .dealerslist_item_td:after{
                background: #fff;
            }
            .dealerslist_item.open .dealerslist_item_btn{
                background-position:   right top;
            }
        .dealerslist_item_btn{
            display: inline-block;
            cursor: pointer;
            border: none;
            position: relative;
            background: url(../images/icons/where.png) left top no-repeat;
            width: 34px;
            height: 34px;
            text-indent: -9999px;
            overflow: hidden;
            vertical-align: middle;
        }
        .dealerslist_item_btn.open{
            background-position:   right top;
        }
    .dealerslist_item_det{
        position: relative;
        padding: 14px;
        display: none;
        background: #fff;
        border: 1px solid #d7d7d7;
        line-height: 1.4em;
    }
.mapp{
    width: 95%;
}
.dealerslist_item_ttl{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 23px;
}
.dealerslist_item_ttl.mod{
    margin-top: 18px;
    margin-bottom: 9px;
}
.callback{
    position: relative;
    padding: 16px 0;
    width: 150%;
    overflow: hidden;
}
    .callback input[type='text']{
        border: 1px solid #e1e1e1;
        height: 44px;
        width: 32%;
        float: left;
        margin-right: 18px;
        padding: 0 16px;
        display: block;
        font:300 15px/44px 'roboto',sans-serif;
        color: #000;
        text-align: left;
        outline: none;
    }
    .callback input[type='submit']{
        display: block;
        width: 132px;
        height: 46px;
        border: 1px solid #1798f7;
        border-radius: 3px;
        background: #1798f7;
        text-align: center;
        font:300 15px/45px 'roboto',sans-serif;
        text-decoration: none;
        color: #fff;
        transition: all 0.3s;
        cursor: pointer;
    }
    .callback input[type='submit']:hover{
        box-shadow: 2px 2px 13px -2px rgba(0,0,0,0.75);
    }
/***************/
/*404*/
/***************/
.mess404{
    text-align: center;
    font:bold 176px 'roboto',sans-serif;
    color: #333;
    margin-bottom: 51px;
}
.mess404 + a{
    font-weight: 500!important;
    margin-bottom: 41px;
}
    .mess404 span{
        display: block;
        font-size: 18px;
        font-weight: 400;
    }
    
    
    
    
    .cooperation-text-inner .col-xs-12 {width:auto;}
    .cooperation-text-inner .tovar_navtab span {width:50%;}
@media only screen and (max-width: 666px) {    
    .cooperation-text-inner .tovar_navtab span {font: 13px/44px 'proxima',sans-serif;}
}
@media only screen and (max-width: 587px) {    
    .cooperation-text-inner .tovar_navtab span {font: 12px/44px 'proxima',sans-serif;}
}
@media only screen and (max-width: 545px) {    
    .cooperation-text-inner .tovar_navtab span {font: 12px/23px 'proxima',sans-serif;}
    .cooperation-text-inner .tovar_navtab span {width:40%;}
}
@media only screen and (max-width: 425px) {    
    .cooperation-text-inner .tovar_navtab span {font: 12px/23px 'proxima',sans-serif;}
    .cooperation-text-inner .tovar_navtab span {width:45%;}
}
@media only screen and (max-width: 377px) {    
    .cooperation-text-inner .tovar_navtab span {font: 11.5px/17px 'proxima',sans-serif;
        margin-top:6px;
    }
    .tovar_navtab i {left:0;}
    .cooperation-text-inner .tovar_navtab span {width:50%;}
}
@media only screen and (max-width: 320px) {    
    .cooperation-text-inner .tovar_navtab span {font: 12px/16px 'proxima',sans-serif;}
    .cooperation-text-inner .tovar_navtab span {width:40%;}
    
}
    
    
/*MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY*/
@media only screen and (min-width: 1181px) {
    .menuline_wr .menu2:hover .level2{/*hover для дизайна ПК, когда переходим на моб - работать должно по нажатию (скрипт)*/
        visibility: visible;
        opacity: 1;
        height: auto;
        padding: 25px 18px 13px;
    }
    .menuline_wr > li > a.act,.menuline_wr .menu2:hover > a{
        color: #04a35b;
        z-index: 7;
        position: relative;
        background: #fff;
    }
    .menuline_wr > li > a:hover .icmenu,.menuline_wr > li > a.act .icmenu,.menuline_wr .menu2:hover > a .icmenu{
         border-top: 5px solid #818181;
        transform: rotate(-180deg);
    }
    .menu_search.modtog{
        display: none!important;
    }
    .menuline,.menuline_wr .menu2 .level2{
        display: block!important;
    }
}
/* ipad portrait + landscape */
@media only screen and (max-width: 1180px) {
    /***************/
    /*MEDIA*/
    /***************/
    .mediacenter{
        text-align: center;
    }
    /***************/
    /*MAIN*/
    /***************/
    .menuline_wr .menu2 .level2{/*hover для дизайна ПК, когда переходим на моб - работать должно по нажатию (скрипт)*/
        visibility: visible;
        opacity: 1;
        display: none;
        height: auto;
        padding: 0 18px 13px;
        top:0;
    }
    .menuline_wr .menu2.open > a{
        color: #04a35b;
        z-index: 7;
        position: relative;
        background: #fff;
    }
    .menuline_wr .menu2.open > a .icmenu{
         border-top: 5px solid #818181;
        transform: rotate(-180deg);
    }
    .service_item_inf{
        padding-left: 185px;
        float: none;
        width: auto;
    }
    .service_item_r{
        float: none;
        width: 100%;
        line-height: 90px;
        margin-bottom: 16px;
    }
    .foot_half{
        float: none;
        margin: 20px auto;
        width: 578px;
    }
    .foot_half.right{
        float: none;
    }
    .inner_width{
         width: auto;
         min-width: 290px;
    }
        .munubtn{
            display: block;
        }
        .head_linkwrap .head_link{
            display: block;
            margin-bottom: 10px;
        }
    .menuline{
        display: none;
        height: auto;
        min-height: 50px;
        border-top:1px solid #d7d7d7;
    }
    .menuline .inner_width{
        padding: 0;
    }
    .menuline_wr{
        display: block;
    }
    .menuline_right{
        position: relative;
		right: 0;
    }
        .menuline_wr li,.menuline_wr li.r{
            float: none;
            border: none;
        }
    .visible1180{
        display: block!important;
    }
    .hidden1180{
        display: none!important;
    }
    .level2{
        position: relative;
        top:-22px;
        left: 0;
        text-align: center;
        width: auto;
    }
    /***************/
    /*RZA*/
    /***************/
    .catalogcol{
        width: 296px;
    }
    /***************/
    /*RZA UPRAVLENIE*/
    /***************/
    .blocklink:nth-child(3n+2){
        margin-left: 0;
        margin-right: 0;
    }
    .blocklink:nth-child(2n){
        margin-left: 9px;
        margin-right: 14px!important;
    }
    .blocklink:nth-child(2n+1){
        margin-right: 9px;
        margin-left: 14px!important;
    }
    /***************/
    /*RZA UPRAVLENIE FOTORELE*/
    /***************/
    .catalog_itemhalf{
        width: 65%;
    }
    .catalog_itemhalf.mod{
        width: 35%;
        padding-top: 14px;
    }
        .tovar_price.mod{
            margin-bottom: 15px;
        }
    .filter > div{
        display: block;
    }
    /***************/
    /*CONTACTS*/
    /***************/
    .contactstab_map{
        float: none;
        width: 100%;
    }
}
/******FOR  head_linkwrap*******/
@media only screen and (max-width: 1080px) {
    .level2.materials {
       margin-left:0 !important;
    }
    .visible1080bl{
        display: inline-block!important;
    }
    .hidden1080{
        display: none!important;
    }
    /***************/
    /*MEDIA SINGLE*/
    /***************/
    a.pricelist_item:nth-child(3n+3){
        margin-right: 0;
    }
    /***************/
    /*MAIN*/
    /***************/
    .head_logo{
        margin-bottom: 20px;
    }
    .listnow{
        margin-top: 0;
        margin-bottom: 19px;
    }
    .pnow{
        display: block;

    }
    .now_item{
        margin-top: 53px;
    }
    .head_linkwrap{
        width: 100%;
        text-align: center;
        height: 42px;
        line-height: 1;
        margin-top: 16px;
        float: none;
        clear: both;
    }
        .head_linkwrap .head_link,a.head_link.red{
            display: inline-block;
            margin: 5px 30px;
        }
    .head{
        min-height: 147px;
    }
}
@media only screen and (max-width: 1040px) {
    .choosetabs{
        display: inline-block;
        text-align: left;
        width: 360px;
    }
            .choosetabs li.act span:after{
                border: none;
            }
            .choosetabs li:after{
                height: 0;
            }
        .choosetabs li{
            display: block;
            margin-bottom: 10px;
            margin-right: 0;
        }
    .visible1040{
        display: block!important;
    }
    .hidden1040{
        display: none!important;
    }
    .head_list{
        margin-right: 10px;
    }
    /***************/
    /*RZA*/
    /***************/
    .catalogcol{
        width: 220px;
    }
    /***************/
    /*RZA UPRAVLENIE FOTORELE*/
    /***************/
    .filterwrap,.filterwrap.mod{
        float: none;
    }
    .filterwrap{
        width: auto;
    }
    .catalog{
        padding-left: 0;
    }
    .catalog.mod{
        padding-right: 0;
    }
    .filter > div{
        display: none;
    }
    /***************/
    /*ABOUT*/
    /***************/
    .aboutlist li{
        width: 32%;
    }
}
/******FOR  RZA_UPRAVLENIE*******/
@media only screen and (max-width: 824px) {
    a.pricelist_item:nth-child(3n+3),a.pricelist_item{
        margin-right: 22px;
    }
    /***************/
    /*RZA UPRAVLENIE*/
    /***************/
    .blocklink{
        display: block;
        margin: 0 auto 19px!important;
    }
    .blocklink:nth-child(3n+2){
        margin-left: 0;
        margin-right: 0;
    }
    .blocklink:nth-child(2n){
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .blocklink:nth-child(2n+1){
        margin-right: auto!important;
        margin-left: auto!important;
    }
}
/* iphone landscape + big phones (6plus etc) */
@media only screen and (max-width: 790px) {
     .callback{
       width: auto;
    }
     .visible790{
        display: block!important;
    }
    /***************/
    /*MAIN*/
    /***************/
    .menuline{
        margin-bottom: 7px;
    }
    .service_item_inf{
        padding-left: 0;
        float: none;
        width: auto;
    }
    .service_item_pic{
        float: none;
        margin: 0 auto 20px;
    }
      .foot{
          padding-top: 0;
		  min-height: 300px;
		  height: auto
      }
      .foot_item{
          width: 278px;
          margin-right: 9px;
      }
            .foot_listhalf a{
                font-size: 16px;
                margin: 4px 0
            }
      .foot_listhalf{
          margin: 0 15px 0 0;
      }
      .foot_item.map{
          height: auto;
      }
      .foot_half{
          width: 50%;
          float: left;
      }
       .head_list{
           display: none;
       }
       .breadcrumbs{
           line-height: 22px;
           min-height: 22px;
       }
       .breadcrumbs a,.breadcrumbs .curr{
           height: 22px;
           overflow: hidden;
           display: inline-block;
       }
            .breadcrumbs a:before{
                top:50%;
                background-position: center center;
                height: 13px;
                margin-top: -6px;
            }
    .tovar_l{
        float: none;
        margin: 0 auto 24px;
    }
    .tovar_r{
        padding-left: 0;
    }
    .foot_item,.foot_item.modr{
        float: none!important;
        margin: 10px auto;
    }
    .foot_copy span{
        display: block;
        float: none;
        margin-top: 4px;
    }
    /***************/
    /*RZA*/
    /***************/
    .catalogcol{
        width: 50%;
    }
    .catalogcol:nth-child(3){
        width: 100%;
    }
        .catalogcol:nth-child(3) .catalogcol_item{
            width: 50%;
        }
        .catalogcol:nth-child(3) .catalogcol_item:nth-child(2n){
            float: left;
        }
        .catalogcol:nth-child(3) .catalogcol_item:nth-child(2n+1){
            float: right;
        }
    a.rzacatalog{
        margin-top: 15px;
        float: none;
        margin-bottom: -15px;
    }
    /***************/
    /*RZA UPRAVLENIE*/
    /***************/
    .blocklink{
        height: auto;
        width: 92%;
    }
        .blocklink p{
            max-height: none;
        }
    /***************/
    /*RZA UPRAVLENIE FOTORELE*/
    /***************/
    .catalog_item{
        height: auto;
        overflow: hidden;
    }
        .catalog_itemhalf,.catalog_itemhalf.mod{
            width: 100%;
        }
        .catalog_itemhalf.mod{
            text-align: center;
        }
    .filterwrap{
        margin: 27px auto;
    }
    /***************/
    /*subscribemain*/
    /***************/
    .subscribemain{
        width: 100%;
    }
    .subscribemain_fr input[type="text"]{
        width: 80%;
        margin: 0 auto 20px;
        padding: 0 3%;
    }
    .subscribemain_fr .catalog_item_more{
       width: 86%;
    }
    /***************/
    /*NEWS*/
    /***************/
    .news_item_img{
        width: 243px;
    }
    /***************/
    /*CONTACTS*/
    /***************/
    .contactslist{
        margin-right: 20px;
        width: 200px;
    }
        .contactslist a.line2{
            margin-top: 7px;
        }
    .contactstab_info{
        float: none;
    }
    /***************/
    /*WHERE*/
    /***************/
    .reserfilter.mod{
        text-align: left;
        float: none;
        margin-top: 8px;
        margin-bottom: 18px;
    }
    .dealerslist_item_ttl{
        margin-top: 23px;
    }
    .filterwh_tab .sel{
        width: 100%;
        display: block;
    }
    .dealerslist_item{
        line-height: 28px;
    }
    .dealerslist_item_td,.dealerslist_item_td.mini,.dealerslist_item_td.small,.dealerslist_item_td.half,.mapp{
        display: block;
        width: 100%;
        text-align: center;
    }
    .dealerslist_item_name{
        line-height: inherit;
    }
        .dealerslist_item_td > *{
            padding-left: 0!important;
        }
    .dealerslist_item_btn{
        margin: 5px auto 10px;
    }
        .callback input[type="text"]{
            width: 69%;
            display: inline;
            float: none;
            margin-right: 0;
        }
        .callback input[type="submit"]{
            margin: 13px auto;
        }
    .filterwh_tab .sel:nth-child(2) select,.filterwh_tab .sel:nth-child(3) select{
        border-left: 1px solid #e1e1e1;
        border-top: none;
    }
    .dealerslist_item_td:first-child:after{
        height: 0;
    }

}
/******FOR  MEDIA SINGLE PAGE*******/
@media only screen and (max-width: 715px) {
    /***************/
    /*MEDIA SINGLE*/
    /***************/
    a.pricelist_item:nth-child(3n+3),a.pricelist_item{
        margin-right: 55px;
    }
}
/******FOR  NEWS PAGE*******/
@media only screen and (max-width: 560px) {
    .foot_half{
          width: 100%;
          float: none;
      }

    .foot_item, .foot_item.modr{
        margin: 10px 0;
    }
    .carousel_item .inner_width{
        padding-top: 80px;
    }
    .news_item_img{
        float: none;
        width: 100%;
        margin: 0 auto 10px;
    }
    .head_linkwrap .head_link{
        min-width: inherit;
        width: 121px;
        vertical-align: top;
        margin: 5px 8px;
    }
    .head_linkwrap .head_link.bl{
        overflow: hidden;
    }
    /***************/
    /*ABOUT*/
    /***************/
    .aboutlist li{
        width: 100%;
        display: block;
        border: none;
    }
    /***************/
    /*CONTACTS*/
    /***************/
    .contactslist{
        margin: 0 auto 20px;
        width: 270px;
        float: none;
    }
        .contactslist a.line2{
            margin-top: 0
        }
}
/* iphone portrait */
@media screen and (max-width: 430px){
     /***************/
    /*MAIN*/
    /***************/
    .tovar_navtab span{
        font-size: 12px;
    }
    .now_item{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .choose_form_tab input[type="checkbox"] + label{
        font-size: 15px;
    }
    .choosetabs li{
        font-size: 13px;
        width: 100%;
    }
    .choosetabs{
        width: auto;
    }
    .head{
        padding: 13px 15px;
    }
    .support{
        right: 50%;
        margin-right: -78px;
    }
    .head_logo{
        margin-top: 5px;
        width: 190px;
    }
        .head_logo img{
            width: 100%;
        }
    .head_link.right{
        float: none;
        display: block;
        margin: 10px auto 0;
    }
    .tovar_l{
        width: auto;
    }
        .tovar_price{
            font-size: 16px;
        }
            .tovar_price .pr{
                font-size: 20px;
            }
            .sel{
                width: 61px;
            }
                .sel select{
                    width: 59px;
                    font-size: 14px;
                }

    /***************/
    /*RZA*/
    /***************/
    .catalogcol{
        width: 100%;
    }
        .catalogcol:nth-child(3) .catalogcol_item{
            width: auto;
            float: none!important;
        }
    a.rzacatalog{
        font-size: 12px;
    }
    /***************/
    /*RZA UPRAVLENIE*/
    /***************/
    .blocklink_ttl .pic{
        width: 70px;
        height: 70px;
    }
    .blocklink_ttl .catalogcol_item_ttl{
        //padding-left: 75px;
        font-size: 16px;
    }
    .blocklink{
        display: block;
        margin: 0 auto 19px!important;
        width: 82%;
    }
    .blocklink:nth-child(3n+2){
        margin-left: 0;
        margin-right: 0;
    }
    .blocklink:nth-child(2n){
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .blocklink:nth-child(2n+1){
        margin-right: auto!important;
        margin-left: auto!important;
    }
    /***************/
    /*RZA UPRAVLENIE FOTORELE*/
    /***************/
    .catalog_item_pic{
        margin: 0 auto;
        float: none;
    }
    .catalog_item_inf{
        padding-left: 0;
        text-align: center;
		width: 100%;
    }
    /***************/
    /*NEWS*/
    /***************/
    .newsfilter li a{
        font-size: 13px;
    }
    /***************/
    /*WHERE*/
    /***************/
    .filter_item.mod{
        display: block;
        margin-top: 13px;
    }
}

.blocklink {
    vertical-align: top;
}

.search-results {
    margin-bottom: 50px;
}

.search-results .description {
    margin-top: 20px;
    padding-bottom: 10px;
}

.search-results .col-xs-12 {
    padding-left: 0;
}

.search-results .item-new-one {
    width: 90%;
}

.site-login {
    margin: 30px auto;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}

.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
    background-color: #FFF;
    z-index: 100000;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
.ui-menu .ui-menu {
    position: absolute;
}
.ui-menu .ui-menu-item {
    margin: 0;
    cursor: pointer;
    /* support: IE10, see #8844 */
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
}
.ui-menu .ui-menu-item:hover {
    background-color: #fafafa;
}
.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px .4em;
}
.ui-menu .ui-menu-divider {
    margin: 5px 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 1px 0 0 0;
}

/* icon support */
.ui-menu-icons {
    position: relative;
}
.ui-menu-icons .ui-menu-item-wrapper {
    padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: .2em;
    margin: auto 0;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
    left: auto;
    right: 0;
}

/***************/
/*CERTIFICATS*/
/***************/
    .certificat {
        min-height: 190px;
    }
        .certificat .image img{
            margin-top: 5px;
            max-width: 105px;
            max-height: 160px;
        }

        .certificat_text{
            font-family:Roboto-light,"Helvetica Neue",Helvetica,Arial,sans-serif;
            padding-top:27px;
            max-height:110px;
            overflow:hidden
        }
        .certificat .title{
            cursor:pointer;
            font-size:16px
        }
        .certificat .title,.certificat_text{
            padding-left:15px
        }

        .padding-none {
            padding: 0;
        }

.table-container
{
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}

.table-container table {
    width: 100%;
    overflow: hidden;
    font-size: 14px;
}

.table-container table tbody {
    width: 100%;
}

.table-container tr {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    padding: 5px;
}

.table-container tr:nth-child(1) {
    background: #FFFFFF;
}

.table-container tr:nth-child(even) {
    background: #fafafa;
}

.table-container .properties_name {
    float: left;
    color: #696969;
    padding-left: 20px;
    width: 70%;
}

.table-container .properties_value {
    font-weight: 400;
    padding-right: 20px;
}

.admin-content {
    padding: 0 20px;
    width: 1150px;
    margin: 0 auto;
    font-size: 14px;
}

.admin-content .summary {
    margin: 15px 0;
}

.admin-content .btn {
    text-decoration: none;
    color: #FFF;
}

.page_ttl.admin_page {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.page_ttl.admin_page h1 {
    font-size: 20px;
}

/* Bootstrap fix */
.container {
    width: auto !important;
    padding: 0 !important;
}

.modal {
    display: none;
}

.subscribe_text {
    display: block;
    margin-top: 20px;
    color: #02ad60;
    text-align: center;
}

.subscribe_text.error {
    color: #e26060;
}

.pricelist_item.type0 {
    background: url(../images/downloads/0.png) left top no-repeat;
}

.pricelist_item.type2 {
    background: url(../images/downloads/2.png) left top no-repeat;
}

.pricelist_item.type3 {
    background: url(../images/downloads/3.png) left top no-repeat;
}

.pricelist_item.type4 {
    background: url(../images/downloads/4.png) left top no-repeat;
}

/* task#6158: Лого в выпадащий список; */
.level2 li a{
    display: block;
}
.menu__img{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.menu__img img{
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.menu__txt{
    display: inline-block;
    vertical-align: middle;
}
/* end of task#6158 */

/* task#6371 */
.news_single ul{
    list-style-type: disc;
    list-style-position: inside;
}
/* end of task#6371 */

.sel,
.sel select{
    width: auto;
}

.main .owl-item .item{
text-align: center;
}
.main .owl-item .item img{
display: inline-block;
vertical-align: middle;
}

@media screen and (max-width: 430px){
.catalog_item_inf ul li{
max-width: 100%;
}
.head {
min-height: auto;
}
.head_linkwrap{
height: auto;
}
}
/* similar*/
.inner_width.ovfl.center{
    margin-bottom:20px;
}
.description-item-similar {
    color: #8e8e8e;
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 50px;
    font-weight: 300;
    padding-bottom: 57px;
    text-align: left;
}
.similar_products .item-one {
    vertical-align: top;
}
@media screen and (max-width: 430px){
.item-one {
    margin: 0!important;
}
}


/*end similar*/
